<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/topnav :: navbar"></div>


		<div class="table-responsive">
			<table class="table table-hover table-striped w-auto w-100 d-block d-md-table table-bordered"  th:if="${!membershipListDTO.empty}">
				<thead>
				<tr>
					<td colspan="10">
						<h1><span class="fi fi-rr-book-alt"> Rosters</span></h1>
						&nbsp;&nbsp;
						<span th:text="${#lists.size(membershipListDTO)}"></span> Records
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select id='date-dropdown' class="btn-lg btn-outline-info"></select>
						<script>
							let dateDropdown = document.getElementById('date-dropdown');
							let currentYear = new Date().getFullYear();
							let earliestYear = 1970;
							while (currentYear >= earliestYear) {
								let dateOption = document.createElement('option');
								dateOption.text = currentYear;
								dateOption.value = currentYear;
								dateDropdown.add(dateOption);
								currentYear -= 1;
							}
							document.getElementById('date-dropdown').addEventListener('change', function() {
								setGetParameter('year', this.value);
							});
							const queryString = window.location.search;
							const urlParams = new URLSearchParams(queryString);
							const product = urlParams.get('year');
							dateDropdown.value = product;
							console.log(product);
						</script>

						&nbsp;&nbsp;
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-info active">
								<input type="radio" name="options" id="option1" autocomplete="off" value="active"><span class="fi fi-rr-apps-add"> Active</span>
							</label>
							<label class="btn btn-info">
								<input type="radio" name="options" id="option2" autocomplete="off" value="nonrenu"> <span class="fi fi-rr-cross-circle"> Non-Renew</span>
							</label>
							<label class="btn btn-info">
								<input type="radio" name="options" id="option3" autocomplete="off" value="all"> <span class="fi fi-rr-asterisk"> All</span>
							</label>
							<label class="btn btn-info">
								<input type="radio" name="options" id="option4" autocomplete="off" value="new"> <span class="fi fi-rr-plus"> New Members</span>
							</label>
							<label class="btn btn-info">
								<input type="radio" name="options" id="option5" autocomplete="off" value="return"> <span class="fi fi-rr-rotate-right"> Return Members</span>
							</label>
							<label class="btn btn-info">
								<input type="radio" name="options" id="option6" autocomplete="off" value="late"> <span class="fi fi-rr-time-delete"> Late Dues</span>
							</label>
							<script>
								//document.getElementById()
								// get the rb param which tells you which radio button is selected, needed because of refresh
								const typeselected = urlParams.get('rb');
								// select the radio button by id;
								document.getElementById(typeselected).checked = true;
								console.log(typeselected);
								document.addEventListener("click", evt => {
									//console.clear();
									//  this takes the event from any radio button and does stuff
									if (evt.target.type === "radio") {
										// sets parameter for correct radio button to be selected on refresh also correct data
										setGetParameter('rb', `${evt.target.id}`);
									}
								})
							</script>

					</td>
				</tr>
					<tr class="table-warning">
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'byId')">ID</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'fname')">First Name</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'lname')">Last Name</a></th>
						<th style="width: 12%" scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'date')">Join Date</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'type')">Type</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'adrs')">Address</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'city')">City</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'state')">State</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'zip')">Zip</a></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="membershipListDTO : ${membershipListDTO}">
						<td th:text="${membershipListDTO.membership_id}"></td>
						<td th:text="${membershipListDTO.fname}"></td>
						<td th:text="${membershipListDTO.lname}"></td>
						<td th:text="${#dates.format(membershipListDTO.join_date, 'dd-MMM-yyyy')}"></td>
						<td th:text="${membershipListDTO.mem_type}"></td>
						<td th:text="${membershipListDTO.address}"></td>
						<td th:text="${membershipListDTO.city}"></td>
						<td th:text="${membershipListDTO.state}"></td>
						<td th:text="${membershipListDTO.zip}"></td>
						<td><a type="button" class="btn btn-primary" th:href="@{'/memberships'(mem=${membershipListDTO.ms_id},year=${param.year})}">View</a></td>

 					</tr>
				</tbody>
			</table>
		</div>


	</div>
<div th:replace="fragments/footer :: foot"></div>