<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/topnav :: navbar"></div>
<div class="container">

		<div class="table-responsive">
			<table class="table table-hover table-striped w-auto w-100 d-block d-md-table table-bordered" th:if="${selectedMembershipId != null}">

				<tbody>
					<tr>

						<td class="border-0 text-left" th:text="'Record Year: ' + ${selectedMembershipId.getFiscalYear()}">Record Year: </td>
						<td class="border-0 text-right">&nbsp;</td>

					    <td class="border-0" th:text="'Membership ID: ' + ${selectedMembershipId.getMembershipId()}"></td>
						<td class="border-0">&nbsp;</td>

						<td class="border-0" th:text="'Membership type: ' + ${selectedMembershipId.getMemType()}"></td>
						<td class="border-0">&nbsp;</td>

						<td class="border-0" th:text="'Join date: ' + ${#dates.format(membership.getJoin_date(), 'dd-MMM-yyyy')}">1/1/1900</td>
						<td class="border-0">&nbsp</td>
 					</tr>

				<tr class="table-warning"><td colspan="8"><H4 class="text-center">Address</H4></td></tr>
					<tr><td colspan="8">

						<form action="#" th:action="@{/updateaddress}" th:object="${membership}" method="post">
							<div class="form-group">
							<label>Street Address</label>
							<input type="text" class="form-control" th:field="*{address}" />
							</div>
							<div class="form-group">
							<label>City</label>
							<input type="text"  class="form-control" th:field="*{city}" />
							</div>
							<div class="form-group">
							<label>State</label>
							<input type="text" class="form-control" th:field="*{state}" />
							</div>
							<div class="form-group">
							<label>Zip Code</label>
							<input type="text" class="form-control" th:field="*{zip}" />
							</div>
							<input type="submit" value="Update" class="btn btn-secondary"/>
						</form>
<!--						</div>-->
					</td></tr>

				<tr class="table-warning"><td colspan="8"><H4 class="text-center">People</H4></td></tr>
				<tr>
				<td colspan="8" >
<!--	<tr th:each="membershipListDTO : ${membershipListDTO}">-->

<!--					<table th:if="${!person.empty}">-->

<!--						<tr th:each="personDTO : ${person}">-->
<!--							<td th:text="${personDTO.member_type}"></td>-->
<!--						</tr>-->
<!--					</table>-->

<!--					<ul class="nav nav-pills" >-->
<!--						<li class="nav-item" th:each="personDTOS : ${people}">-->
<!--&lt;!&ndash;					<td th:text="${membershipListDTO.membership_id}"></td>&ndash;&gt;-->
<!--							<a class="nav-link active" data-toggle="pill" href="#primary" th:text="${people.member_type}">tab label</a>-->
<!--						</li>-->

<!--					</ul>-->

<!--					&lt;!&ndash; Tab panes &ndash;&gt;-->
<!--					<div class="tab-content">-->
<!--						<div class="tab-pane container active" id="primary">Testing this stuff</div>-->
<!--						<div class="tab-pane container fade" id="secondary">More Testing</div>-->
<!--						<div class="tab-pane container fade" id="dependant">Even More Testing</div>-->
<!--					</div>-->

				</td>
				</tr>
				</tbody>
			</table>
		</div>


</div>
<div th:replace="fragments/footer :: foot"></div>