<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="post" type="your.package.Post"-->
<!--@thymesVar id="title" type="String"-->
<!--@thymesVar id="content" type="String"-->
<!--*/-->

<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/topnav :: navbar"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col bg-secondary">
				<h1>Rosters</h1>
				<select id='date-dropdown'></select>
				<script>
					let dateDropdown = document.getElementById('date-dropdown');
					let currentYear = new Date().getFullYear();
					let earliestYear = 1970;
					while (currentYear >= earliestYear) {
						let dateOption = document.createElement('option');
						dateOption.text = currentYear;
						dateOption.value = currentYear;
						dateDropdown.add(dateOption);
						currentYear -= 1;
					}
					document.getElementById('date-dropdown').addEventListener('change', function() {
						setGetParameter('year', this.value);
					});
					const queryString = window.location.search;
					const urlParams = new URLSearchParams(queryString);
					const product = urlParams.get('year');
					dateDropdown.value = product;
				console.log(product);
				</script>

				&nbsp;&nbsp;<span th:text="${#lists.size(membershipListDTO)}"></span> Records
			</div>
			<div class="col bg-success">

				<input type="radio" id="active" name="roster" value="true">
				<label for="active">Active</label><br>
				<input type="radio" id="nonactive" name="roster" value="false">
				<label for="nonactive">Non-Renew</label><br>
				<input type="radio" id="newmember" name="roster" value="new">
				<label for="newmember">New Members</label>
				<script>
					document.addEventListener("click", evt => {
						console.clear();
						//  event delegation: only act if the click originated from input[type=radio]
						if (evt.target.type === "radio") {
							console.log(`Value: ${evt.target.value}, text: ${document.querySelector(`label[for='${evt.target.id}']`).textContent}`);
						}
					})
				</script>
			</div>
			<div class="col bg-danger">Lets put other stuff in here</div>
			<div class="col bg-info">Lets put other stuff in here</div>
		</div>


		<div class="table-responsive">
			<table class="table table-hover table-striped w-auto w-100 d-block d-md-table table-bordered"  th:if="${!membershipListDTO.empty}">
				<thead>
					<tr class="table-warning">
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'byId')">ID</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'fname')">First Name</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'lname')">Last Name</a></th>
						<th style="width: 12%" scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'date')">Join Date</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'type')">Type</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'adrs')">Address</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'city')">City</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'state')">State</a></th>
						<th scope="col"><a href="javascript:void(0)" onclick="setGetParameter('sort', 'zip')">Zip</a></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="membershipListDTO : ${membershipListDTO}">
						<td th:text="${membershipListDTO.membership_id}"></td>
						<td th:text="${membershipListDTO.fname}"></td>
						<td th:text="${membershipListDTO.lname}"></td>
						<td th:text="${#dates.format(membershipListDTO.join_date, 'dd-MMM-yyyy')}"></td>
						<td th:text="${membershipListDTO.mem_type}"></td>
						<td th:text="${membershipListDTO.address}"></td>
						<td th:text="${membershipListDTO.city}"></td>
						<td th:text="${membershipListDTO.state}"></td>
						<td th:text="${membershipListDTO.zip}"></td>
						<td><a type="button" class="btn btn-primary" href="/">View</a></td>
<!-- 						<td><a class="btn btn-primary" th:if="${offerDTO.id} &gt; 0" th:href="@{/editOffer/} + ${offerDTO.id}">Edit</a></td>
						<td><a class="btn btn-danger" th:if="${offerDTO.id} &gt; 0" th:href="@{/deleteOffer/} + ${offerDTO.id}">Delete</a></td>
 -->					</tr>
				</tbody>
			</table>
		</div>


	</div>
<div th:replace="fragments/footer :: foot"></div>