<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/topnav :: navbar"></div>
<div class="container">

		<div class="table-responsive">
			<table class="table table-hover table-striped w-auto w-100 d-block d-md-table table-bordered" th:if="${selectedMembershipId != null}">

				<tbody>
					<tr>
						<td>Record Year: </td>
						<td th:text="${selectedMembershipId.getFiscalYear()}">Record Year: </td>
						<td>Membership ID:</td>
					    <td th:text="${selectedMembershipId.getMembershipId()}"></td>
						<td >Membership Type:</td>
						<td th:text="${selectedMembershipId.getMemType()}"></td>
						<td>Join Date:</td>
						<td th:text="${membership.getJoin_date()}">1/1/1900</td>
 					</tr>

				<tr><td colspan="8"><H4 class="text-center">Address</H4></td></tr>
					<tr><td colspan="8">


					</td></tr>

				<tr><td colspan="8"><H4 class="text-center">People</H4></td></tr>
				<tr>
				<td colspan="8">
					<!-- Nav pills -->
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="pill" href="#home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#menu1">Menu 1</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#menu2">Menu 2</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane container active" id="Primary">Testing this stuff</div>
						<div class="tab-pane container fade" id="Secondary">More Testing</div>
						<div class="tab-pane container fade" id="Dependant">Even More Testing</div>
					</div>

				</td>
				</tr>
				</tbody>
			</table>
		</div>


</div>
<div th:replace="fragments/footer :: foot"></div>