<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/topnav :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Person</h1>
			</div>
<!-- 			<div class="col">
				<a th:href="@{/addOffer}" class="btn btn-primary float-right">Add</a>
			</div> -->
		</div>
		
		<div class="row">

			<table class="table table-hover" th:if="${!peopleDTO.empty}">
				<thead>
					<tr>
						<th scope="col">PID</th>
						<th scope="col">MSID</th>
						<th scope="col">Type</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Birthday</th>
						<th scope="col">Occupation</th>
						<th scope="col">Business</th>
						<th scope="col">Nick Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="peopleDTO : ${peopleDTO}">
						<td th:text="${peopleDTO.pid}"></td>
						<td th:text="${peopleDTO.msid}"></td>					
						<td th:text="${peopleDTO.memberType}"></td>
						<td th:text="${peopleDTO.firstName}"></td>
						<td th:text="${peopleDTO.lastName}"></td>
						<td th:text="${peopleDTO.birthday}"></td>
						<td th:text="${peopleDTO.occupation}"></td>
						<td th:text="${peopleDTO.buisness}"></td>
						<td th:text="${peopleDTO.nickName}"></td>
<!-- 						<td><a class="btn btn-primary" th:if="${offerDTO.id} &gt; 0" th:href="@{/editOffer/} + ${offerDTO.id}">Edit</a></td>
						<td><a class="btn btn-danger" th:if="${offerDTO.id} &gt; 0" th:href="@{/deleteOffer/} + ${offerDTO.id}">Delete</a></td>
 -->					</tr>
				</tbody>
			</table>
		</div>
		
<!-- 		<div class="row" th:if="${offersDTO.empty}">
			<h3>No tours in the offer</h3>
		</div> -->
	</div>
</body>
</html>